#container {
  width: 970px;
}

.pokemon {
  display: inline-block;
  width: 670px;
}

.pokedex {
  border: 5px solid red;
  display: inline-block;
  width: 250px;
  vertical-align: top;
  padding-left: 5px;
  margin-left: 10px;
}
